<phpunit colors="true"
         verbose="true"
         bootstrap="vendor/autoload.php">
	<testsuites>
  <testsuite name="Test Suite">
		<directory>
			tests
		</directory>
		<!-- <file>
			/path/to/MyTest.php
		</file> -->
		<!-- <exclude>
			/path/to/exclude
		</exclude> -->
   </testsuite>
	</testsuites>
</phpunit>
